# Path containing NWN development executables such as nwn_script_comp
NWN_TOOLS="$HOME/.local/bin"

# Root directory of the Neverwinter Nights: Enhanced Edition installation
# Example for Steam on Linux:
NWN_ROOT="$HOME/.local/share/Steam/steamapps/common/Neverwinter Nights"

# NWN user-data directory.
# When using the Windows build through Proton, this will normally be inside
# the game's Proton prefix.
NWN_HOME="$HOME/.local/share/Steam/steamapps/compatdata/XXXXXXXX/pfx/drive_c/users/steamuser/Documents/Neverwinter Nights"
